<div class="container">
  <div class="row">
    <div class="col-md-6">
<form (ngSubmit)="sendAuthcode()" #mailForm="ngForm">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class = "panel-title">Authcode Mail Send Form</h3>
  </div>

  <div class="panel-body">
    <div class="form-group">
      <label for="userfirstname">FirstName</label>
      <input type="text" id="userfirstname" name ="userfirstname" [(ngModel)]="authcodedata.userfirstname" #name="ngModel" class="form-control">
    </div>

    <div class="form-group">
        <label for="userlastname">LastName</label>
        <input type = "text" id = "userlastname" name="userlastname" [(ngModel)]="authcodedata.userlastname" #name="ngModel" class="form-control">
    </div>

    <div class="form-group">
      <label for="useremail">Email</label>
      <input type = "text" id = "useremail" name="useremail" [(ngModel)]="authcodedata.useremail" #name="ngModel" class="form-control">
  </div>

    <div class="form-group">
        <label for="userrole">Role</label>
        <select id = "userrole" name="userrole" [(ngModel)]="authcodedata.userrole" #name="ngModel" class="form-control">
          <option value="Authorised Signatory">Authorised Signatory</option>
        </select>
    </div>

    <div class="form-group">
      <label for="authcode">Authcode</label>
      <input type = "text" id = "authcode" name="authcode" [(ngModel)]="authcodedata.authcode" #name="ngModel" class="form-control">
  </div>
  </div>

</div>
<button type="submit" class="btn btn-success" [disabled]="!mailForm.form.valid">Submit</button>
</form>
</div>



<!-- <div class="col-md-6">
  <textarea name="" id="" cols="30" rows="10"  [(ngModel)]="mainMail"></textarea>
</div> -->
</div>
</div>
